<mat-toolbar color="primary" class="mat-elevation-z6">
  <span> <mat-icon>work</mat-icon>Portafolio</span>

  <span class="spacer"></span>

  <div class="desktop-menu">
    <a mat-button routerLink="/dash" fragment="Binevenida">Inicio</a>
    <a mat-button routerLink="/dash" fragment="Proyectos">Proyectos</a>
    <a mat-button routerLink="/dash" fragment="Acercade">Acerca de mí</a>
    <a mat-button routerLink="/dash" fragment="Stack">Tecnologías</a>
    <a mat-button routerLink="/dash" fragment="Redes">Contacto</a>

    <a mat-button routerLink="/dash" fragment="Redes" color="accent">Mi CV</a>
  </div>

  <div class="mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/dash" fragment="Binevenida">Inicio</a>
      <a mat-menu-item routerLink="/dash" fragment="Proyectos">Proyectos</a>
      <a mat-menu-item routerLink="/dash" fragment="Acercade">Acerca de mí</a>
      <a mat-menu-item routerLink="/dash" fragment="Stack">Tecnologías</a>
      <a mat-menu-item routerLink="/dash" fragment="Redes">Contacto</a>
      <a mat-menu-item routerLink="/dash" fragment="Redes">Mi Cv</a>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
