<section id="Proyectos">
  <h2>Mis proyectos</h2>

  <div class="projects-grid">
    <div
      class="project-card"
      tabindex="0"
      aria-label="Proyecto 1: Organizador de Tareas Full-Stack (Angular & Spring Boot)"
    >
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>
            <h3>Gestor de Tareas Full-Stack (Angular & Spring Boot)</h3>
          </mat-card-title>
        </mat-card-header>
        <img
          class="img-card"
          mat-card-image
          src="../../../../assets/listTask.jpg"
          alt="15"
        />
        <mat-card-content>
          <p>
            Desarrollé una aplicación web full-stack de gestión de tareas desde
            cero. Creé una API RESTful robusta con Java y Spring Boot,
            gestionando la persistencia de datos con Spring Data JPA y migrando
            la base de datos de SQL Server a PostgreSQL para el entorno de
            producción. Para el cliente, construí una interfaz de usuario
            dinámica (SPA) con Angular. Finalmente, automaticé la entrega del
            proyecto implementando un flujo de despliegue continuo (CI/CD) con
            Git, Docker, Render y Netlify.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://project-list-of-task.netlify.app/" target="_blank">
            Ver Demo
          </a>
          <br />
          <a
            href="https://github.com/VictorGarGra/Project_List_Task_Front"
            target="_blank"
          >
            Ver Frontend en GitHub
          </a>
          <br />
          <a
            href="https://github.com/VictorGarGra/Project_List_Task_Api"
            target="_blank"
          >
            Ver Backend en GitHub
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div
      class="project-card"
      tabindex="0"
      aria-label="Proyecto 2: NetflixClone (Android firebase)"
    >
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>
            <h3>Aplicación Netflix clon (Android & Firebase)</h3>
          </mat-card-title>
        </mat-card-header>
        <img
          class="img-card"
          mat-card-image
          src="../../../../assets/netflixclone.jpg"
          alt="15"
        />
        <mat-card-content>
          <p>
            Desarrollé una aplicación de streaming tipo Netflix guiada por un
            curso. Implementé autenticación de usuarios con Firebase Auth,
            gestión de datos en tiempo real con Firebase Realtime Database y
            almacenamiento en Firebase Storage. Integré la Google Drive API para
            manejo de archivos y desarrollé un sistema de reproducción de videos
            online/offline con gestor de descargas. Finalmente, diseñé
            interfaces modernas en XML utilizando Android Studio, Java y
            AndroidX.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            href="https://github.com/VictorGarGra/Project_Netflix_Clone"
            target="_blank"
          >
            Ver codigo en GitHub
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div
      class="project-card"
      tabindex="0"
      aria-label="Proyecto 3: Vehículo Robótico Autónomo con Control Inteligente"
    >
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>
            <h3>Vehículo Robótico Autónomo con Control Inteligente</h3>
          </mat-card-title>
        </mat-card-header>
        <img
          class="img-card"
          mat-card-image
          src="../../../../assets/carrito.png"
          alt="15"
        />
        <mat-card-content>
          <p>
            Desarrollé un vehículo robótico autónomo capaz de desplazarse de
            forma inteligente, esquivar obstáculos y operar en distintos modos:
            control remoto por teclado, interacción mediante comandos de voz y
            seguimiento de línea. Implementé el control del hardware con
            Arduino, integrando sensores y un módulo Bluetooth, mientras que la
            lógica de interacción con el usuario fue programada en Python,
            permitiendo una comunicación inalámbrica fluida entre el robot y la
            computadora.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://photos.app.goo.gl/ofYv1Gs6j272McZX9" target="_blank">
            Ver Demo
          </a>
          <br />

          <a
            href="https://github.com/VictorGarGra/Smart_Cart_Project"
            target="_blank"
          >
            Ver codigo en GitHub
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
