<div class="bienvenida-overlay" *ngIf="mostrandoBienvenida">
  <app-inicio></app-inicio>
</div>

<div *ngIf="!mostrandoBienvenida">
  <div class="site-container">
    <app-menu></app-menu>
    <div class="Principal">
      <section id="Binevenida"><app-iniciobienvenida /></section>
      <section id="Proyectos"><app-projects /></section>
      <section id="Acercade"><app-acercade /></section>
      <section id="Stack"><app-stackstec /></section>
      <section id="Redes"><app-redes /></section>
    </div>
  </div>
  <main class="site-content">
    <br />
    <app-footer></app-footer>
  </main>
</div>
