<div class="site-container">
  <app-menu></app-menu>
  <!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Ver y Descargar CV - Víctor García</title>
    </head>
    <body class="cv">
      <h1>Mi Currículum Vitae</h1>

      <div class="pdf-container">
        <embed
          src="../../../assets/Victor_G_G_CV_08_2025.pdf"
          type="application/pdf"
        />
      </div>

      <div class="botones">
        <a
          href="../../../assets/Victor_G_G_CV_08_2025.pdf"
          download="VictorGarciaCV.pdf"
          class="btn-descargar"
          >Descargar CV</a
        >
      </div>
    </body>
  </html>
</div>
<app-footer> </app-footer>
