<div class="site-container">
  <app-header> </app-header>

  <!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Ver y Descargar CV - Víctor García</title>
    </head>
    <body class="cv">
      <h1>Mi Currículum Vitae</h1>

      <div class="pdf-container">
        <embed src="../../../assets/CV_Victor.pdf" type="application/pdf" />
      </div>

      <div class="botones">
        <a
          href="../../../assets/CV_Victor.pdf"
          download="VictorGarciaCV.pdf"
          class="btn-descargar"
          >Descargar CV</a
        >
      </div>
    </body>
  </html>
</div>
<app-footer> </app-footer>
