<header class="navbar">
  <div class="navbar-container">
    <h1 class="navbar-brand">
      <mat-icon>work</mat-icon>

      Portafolio
    </h1>

    <input type="checkbox" id="navbar-toggle" class="navbar-toggle" />
    <label for="navbar-toggle" class="navbar-toggle-label">
      <span class="hamburger"></span>
    </label>

    <nav class="navbar-links">
      <ul>
        <li><a routerLink="/dash" fragment="Binevenida">Inicio</a></li>
        <li><a routerLink="/dash" fragment="Proyectos">Proyectos</a></li>
        <li><a routerLink="/dash" fragment="Acercade">Acerca de mí</a></li>
        <li><a routerLink="/dash" fragment="Stack">Tecnologías</a></li>
        <li><a routerLink="/dash" fragment="Redes">Redes</a></li>

        <li class="assentm">
          <a routerLink="/dash" fragment="Redes">Mi CV</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
