<section id="Stack" style="animation-name: fadeUp; animation-delay: 0.9s">
  <h2>Stack Tecnológico y Herramientas</h2>
  <div class="stack-grid">
    <div class="tech-item" title="Java">
      <img
        src="../../../../assets/iconos/java.svg"
        alt="java"
        class="tech-icon"
      />
      <h3>Java</h3>
    </div>
    <div class="tech-item" title="Javascript">
      <img
        src="../../../../assets/iconos/javascript.svg"
        alt="javascript"
        class="tech-icon"
      />
      <h3>Javascript</h3>
    </div>
    <div class="tech-item" title="Spring">
      <img
        src="../../../../assets/iconos/spring.svg"
        alt="Spring"
        class="tech-icon"
      />
      <h3>Spring</h3>
    </div>
    <div class="tech-item" title="Springboot">
      <img
        src="../../../../assets/iconos/springboot.svg"
        alt="Springboot"
        class="tech-icon"
      />
      <h3>Springboot</h3>
    </div>
    <div class="tech-item" title="Git">
      <img
        src="../../../../assets/iconos/git.svg"
        alt="git"
        class="tech-icon"
      />
      <h3>Git</h3>
    </div>
    <div class="tech-item" title="GitHub">
      <img
        src="../../../../assets/iconos/github.svg"
        alt="github"
        class="tech-icon"
      />
      <h3>GitHub</h3>
    </div>
    <div class="tech-item" title="PostgreSQL">
      <img
        src="../../../../assets/iconos/postgresql.svg"
        alt="postgres"
        class="tech-icon"
      />
      <h3>PostgreSQL</h3>
    </div>
    <div class="tech-item" title="Oracle">
      <img
        src="../../../../assets/iconos/oracle.svg"
        alt="oracle"
        class="tech-icon"
      />
      <h3>Oracle</h3>
    </div>
    <div class="tech-item" title="MySQL">
      <img
        src="../../../../assets/iconos/mysql.svg"
        alt="mysql"
        class="tech-icon"
      />
      <h3>MySQL</h3>
    </div>
    <div class="tech-item" title="Angular">
      <img
        src="../../../../assets/iconos/angular.svg"
        alt="angular"
        class="tech-icon"
      />
      <h3>Angular</h3>
    </div>
    <div class="tech-item" title="HTML">
      <img
        src="../../../../assets/iconos/html5.svg"
        alt="html"
        class="tech-icon"
      />
      <h3>HTML</h3>
    </div>
    <div class="tech-item" title="CSS">
      <img
        src="../../../../assets/iconos/css.svg"
        alt="css"
        class="tech-icon"
      />
      <h3>CSS</h3>
    </div>
    <div class="tech-item" title="TypeScript">
      <img
        src="../../../../assets/iconos/typescript.svg"
        alt="typescript"
        class="tech-icon"
      />
      <h3>TypeScript</h3>
    </div>
    <div class="tech-item" title="Render">
      <img
        src="../../../../assets/iconos/render.svg"
        alt="render"
        class="tech-icon"
      />
      <h3>Render</h3>
    </div>
    <div class="tech-item" title="Netlify">
      <img
        src="../../../../assets/iconos/netlify.svg"
        alt="netlify"
        class="tech-icon"
      />
      <h3>Netlify</h3>
    </div>
    <div class="tech-item" title="Python">
      <img
        src="../../../../assets/iconos/python.svg"
        alt="python"
        class="tech-icon"
      />
      <h3>Python</h3>
    </div>
    <div class="tech-item" title="Arduino">
      <img
        src="../../../../assets/iconos/arduino.svg"
        alt="arduino"
        class="tech-icon"
      />
      <h3>Arduino</h3>
    </div>
    <div class="tech-item" title="Bootstrap">
      <img
        src="../../../../assets/iconos/bootstrap.svg"
        alt="bootstrap"
        class="tech-icon"
      />
      <h3>Bootstrap</h3>
    </div>
    <div class="tech-item" title="Kotlin">
      <img
        src="../../../../assets/iconos/kotlin.svg"
        alt="kotlin"
        class="tech-icon"
      />
      <h3>Kotlin</h3>
    </div>
    <div class="tech-item" title="Firebase">
      <img
        src="../../../../assets/iconos/firebase.svg"
        alt="firebase"
        class="tech-icon"
      />
      <h3>Firebase</h3>
    </div>

    <div class="tech-item" title="Docker">
      <img
        src="../../../../assets/iconos/docker.svg"
        alt="firebase"
        class="tech-icon"
      />
      <h3>Docker</h3>
    </div>

    <div class="tech-item" title="Apache maven">
      <img
        src="../../../../assets/iconos/apachemaven.svg"
        alt="Apachemaven"
        class="tech-icon"
      />
      <h3>Apache maven</h3>
    </div>
  </div>
</section>
