<section id="Acercade" class="visible" style="animation-name: fadeUp">
  <div>
    <h2>
      Desarrollador de Software | Construyendo aplicaciones web completas con
      Angular y Spring Boot.
    </h2>
  </div>
  <div class="resumen">
    <h3>
      Soy egresado de la carrera "Ingenieria en sistemas computacionales" Con
      experiencia previa como Analista de Datos, descubrí mi verdadera pasión en
      la creación de soluciones a través del software, lo que me llevó a
      reorientar mi carrera hacia el desarrollo.<br />
      Para ello, me formé intensivamente en el stack de Angular y Spring Boot,
      desarrollando proyectos personales como un gestor de tareas completo con
      una API RESTful y una interfaz responsiva. <br />Busco mi primera
      oportunidad como desarrollador para aplicar tanto mi capacidad analítica
      como mis nuevas habilidades técnicas en un equipo donde pueda contribuir y
      seguir creciendo.
    </h3>
  </div>
</section>
